@font-face {
    font-family: 'Diodrum Semibold';
    src: url('./diodrum-/DiodrumCyrillic-Semibold.ttf') format('woff');
}

body {
    font-family: 'Diodrum Semibold', sans-serif;
    background-color: black;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    margin: 40px auto 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.titulo__principal{
    margin-top: 20px;
    text-align: center;
    font-family: diodrum semibold;
    font-size: 3.5rem;
    color: rgb(248, 224, 10);
    margin-bottom: 0;
}

h1 {
    text-align: center;
    font-family: diodrum semibold;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
}

.section {
    display: none;
    margin-top: 20px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.results, .comision {
    margin-top: 20px;
}

.comision {
    font-weight: bold;
    margin-top: 10px;
}
.parrafo{
    color: white;
    font-family: diodrum semibold;
    text-align: center;
    margin-bottom: 0;
}
.parrafo2{
    color: white;
    font-family: diodrum semibold;
    text-align: center;
    margin-top: 0;
}
.enlace_ficha_tecnica{
    color: rgb(248, 224, 10);
}
footer {
    color: black;
    margin-top: 100px;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
}
.copyright{
    width: 100%;
    height: auto;
    background-color: rgb(248, 224, 10);
}
.logo_desarrollador{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}
.logo_des{
    width: 30%;
}
@media (max-width: 480px) {
    .titulo__principal {
        font-size: 3rem;
    }

    h1 {
        font-size: 1.2rem;
    }

    button {
        font-size: 12px;
        padding: 6px;
    }

    input, select {
        font-size: 12px;
        padding: 6px;
    }
    .copyright{
        width: 100%;
        padding: 5px 0;
    }

    .logo_des {
        width: 50%;
    }
}
